* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sorts Mill Goudy", serif;
}

@import url("https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Syncopate:wght@400;700&family=Sorts+Mill+Goudy&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap'); */
/* font-family: 'Syncopate', sans-serif; */
/* font-family: 'Mea Culpa', cursive; */
/* font-family: 'Sorts Mill Goudy', serif; */

/* MOBILE */

.toolbar {
  display: flex;
  flex-wrap: wrap;
  background-color: #0fcef8;
  height: 150px;
  margin: 20px 20px 0 20px;
  color: white;
  align-items: center;
  align-content: center;
  font-weight: 600;
  font-size: large;
  font-family: "Syncopate", sans-serif;
}

.logo_container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
}

.logo {
  width: 27px;
  height: 38px;
  margin: 14px;
}

.logo_text {
  font-family: "Mea Culpa", cursive;
  font-size: 40px;
  height: 40px;
  margin-top: 15px;
  font-family: "Syncopate", sans-serif;
}

.links {
  display: flex;
  width: 100%;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.link {
  color: white;
  text-decoration: none;
  margin: 10px;
  padding: 10px 10px;
  font-weight: 700;
  font-size: small;
  font-family: "Syncopate", sans-serif;
}

input,
button {
  border: #0fcef8 1px solid;
  margin: 1px;
}

button {
  color: white;
  background-color: #6abed1;
  font-family: "Syncopate", sans-serif;
  font-size: x-small;
  font-weight: 600;
  padding: 5px;
}

.form {
  margin-top: 50px;
}

.meter,
.org {
  display: flex;
  margin: 1px;
  color: rgb(26, 23, 23);
  justify-content: space-between;
  width: 100%;
}

.meter p {
  color: #007d99;
  margin-left: 5px;
  margin-right: 5px;
}

.meters,
.orgs {
  margin-left: 10px;
}

.orgs {
  width: 200px;
}

.selected {
  background-color: rgba(152, 207, 219, 0.6);
}
.backwhite {
  background-color: rgba(255, 255, 255, 0.8);
}
.comps_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.address {
  flex-flow: column;
}

.pageBackground {
  background-image: url("./images/bg.png");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

.data_error {
  padding-top: 10px;
  max-width: 275px;
  border: 0;
  border-color: white;
  color: red;
  font-size: small;
}

.green {
  color: green;
}
.d-flex {
  display: flex;
}

.j-center {
  justify-content: center;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.space-btw {
  justify-content: space-between;
}

.p-20 {
  padding: 20px;
}

.t-130 {
  margin-top: 130px;
}
.grow1 {
  flex: 1;
}

.card {
  overflow: hidden;
  padding: 10px;
  margin: 15px;
  width: 300px;
  border: 1px solid;
}

.box {
  height: 300px;
  width: 300px;
}

.w300 {
  width: 300px;
}

.dash {
  border: solid 1px;
  margin: 10px 20px 20px 20px;
  border-color: rgba(15, 206, 248, 0.3);
  justify-content: left;
  flex-direction: column;
  color: #007d99;

  padding: 10px;
}

.dash_user {
  padding: 10px;
  justify-self: left;
  color: #007d99;
  background-color: rgba(255, 255, 255, 0.6);
}

.component {
  width: 220px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  border: #007d99 solid;
  margin-bottom: 15px;
}

.about {
  width: 80%;
  margin: 40px;
  color: #007d99;
  height: auto;
}

.about_container {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.min_page_background {
  background-image: url("./images/bg.png");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

@media screen and (min-width: 325px) {
  .toolbar {
    height: 120px;
  }
}
@media screen and (min-width: 475px) {
  .pageBackground {
    height: 1000px;
  }

  .login {
    height: 500px;
  }
}

@media screen and (min-width: 502px) {
  .pageBackground {
    height: 800px;
  }
}

@media screen and (min-width: 723px) {
  .pageBackground {
    height: 500px;
  }
}
